* {
    /*Ajustando todo para que no hayga margenes*/
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*Evita que padding y borde no aumenten el tamaño real*/
}

.fondo {
    width: 100%;
    min-height: clamp(200px, 40vh, 400px);

    background-image: url(imagenes/Fondo2.jpeg);
    background-size: 100% auto; /* Mantiene el ancho de la imagen al 100% en cualquier pantalla */
    background-position: top center;
    background-repeat: repeat;
}

.cuadro-titulo {
    display: flex; /*Coloca sus elementos en fila*/
    background-color: burlywood;
    position: fixed;

    align-items: center;
    justify-content: space-between; /*Espacio automatico entre sus hijos*/

    padding: 5px 20px;
    gap: 1rem; /*Espacio entre los elementos hijos del flex (logo, título, iconos).*/

    top: 0;
    width: 100%;
    height: clamp(70px, 14vh, 110px);
    z-index: 1000;
}

.titulo {
    flex: 1; /* ocupa espacio disponible */
    text-align: center;

    font-family: 'Itim', cursive;
    font-size: clamp(1.2rem, 3vw, 2.5rem); /*clamp(valor-mínimo, valor-ideal, valor-máximo)*/
    /* Usar rem y vw es recomendable ya que: ✔ rem → accesible y estable | ✔ vw → fluido y adaptable | ✔ límites → nunca se rompe
    1rem = 16px
    2rem = 32px
    0.5rem = 8px

    1vw = 1% del ancho de la pantalla*/

    white-space: nowrap; /*Evita que el título salte a otra línea.*/
}
.logo img {
    width: clamp(40px, 8vw, 80px);
    height: auto;
}

.iconos {
    display: flex;
    gap: clamp(0.5rem, 2vw, 1.4rem);
}

.estilo-buscar {
    width: clamp(15.63rem, 10vw, 12.5rem);
    height: 100%;
    border-radius: 10px;
}


.icono {
    font-size: clamp(1.2rem, 3vw, 2rem);
    cursor: pointer; /*Cambia el cursor a “mano” para indicar que se le puede hacer click*/
}

.cuerpo {
    display: flex;
    padding-top: clamp(70px, 14vh, 110px);
    align-items: flex-start;
}

.textos {
    display: flex;
    flex-direction:column;
    width: 53%;
    height: 100%;
}
.subtitulo {
    padding-left: 20px;
    color: white;
    text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;

    font-family: "Agbalumo", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(3.9rem, 9vw, 7.8rem);
    text-align: center;
}

.presentacion {
    padding-left: 20px;
    color: white;
    font-family: Times, "Times New Roman", serif;
    font-size: clamp(1.8rem, 4vw, 3.6rem);
    flex-wrap: wrap;
}

.chompa-espacio {
    width: 47%;
    display: flex;

}
.chompa-espacio svg {
    width: 100%;
    max-height: clamp(550px, 40vh, 650px);
}

.circulo {
    animation: pulso 3s ease-in-out infinite;
    transform-origin: center;
}
.circulo-fondo {
    cursor: pointer;
}

@keyframes pulso {
    0% {
        transform: scale(0.9);
        opacity: 0.8;
    }
    50% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0.9);
        opacity: 0.8;
    }
}

@media (max-width: 600px) {
    .cuadro-titulo {
        flex-wrap: wrap; /*Permite que sus elemento bajen de linea*/
        justify-content: center; /*Permite que sus elementos se centren*/
    }

    .titulo {
        order: 3;
        width: 100%;
        text-align: center;
        margin-top: 0.5rem;
    }

    .iconos {
        order: 2;
    }

    .estilo-buscar {
        width: clamp(9.38rem, 10vw, 6.25rem);
    }

    .logo {
        order: 1;
    }

    .subtitulo {
        text-align: center;
    }

    .textos {
        width: 100%;
    }
    .cuerpo {
        flex-wrap: wrap;
    }
    .chompa-espacio {
        width: 100%;
    }
    .chompa-espacio svg {
        height: 300px;
    }
}